@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root {
    --cor-de-fundo:#634D65;
    --amarelo-escuro:#C3B744;
    --parte-cabecalho:rgba(118, 118, 118, 0.5);
    --ciano:rgba(85, 236, 200, 0.86);
    --cor-relogio:rgba(74, 6, 115, 1);
    --cor-dia-hora:rgba(69, 10, 67, 1);
}

body {
    background: linear-gradient(to top, rgb(86, 255, 137) 10%, rgb(104, 31, 199) 55%, rgb(255, 184, 32) 75%);
    margin: 0;
    height: 100vh;
  }

.botao {
    background: linear-gradient(to right, var(--amarelo-escuro), var(--parte-cabecalho));
    align: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    height: 20%;
}