@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root {
    --cor-de-fundo:#634D65;
    --amarelo-escuro:#C3B744;
    --parte-cabecalho:rgba(118, 118, 118, 0.5);
    --ciano:rgba(85, 236, 200, 0.86);
    --cor-relogio:rgba(74, 6, 115, 1);
    --cor-dia-hora:rgba(69, 10, 67, 1);
}

body {
    background: linear-gradient(to top, var(--amarelo-escuro) 20%, var(--parte-cabecalho) 75%,rgb(104, 31, 199) 85%);
    margin: 0;
    height: 100vh;
  }

.botao {
    background: linear-gradient(to bottom, var(--amarelo-escuro), var(--ciano));
}

.botao:hover {
    background: linear-gradient(to top, var(--amarelo-escuro) 20%, var(--parte-cabecalho) 75%);
    height: 19%;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}